@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
.navbar {
    background-color: white;
    overflow: hidden;
    justify-content: end;
    padding: 17px 17px;
    
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #1400eee4;
    text-align: center;
    text-decoration: none;
    padding-left: 17px;
  }
  
  .navbar a:hover {
    background-color: #1400eee4;
    color: rgb(249, 246, 246);
    border-radius: 10px;
  }
 body{
    background-image: url('assets/imgee/ll.png');
    background-size:contain;
    background-position:center;
    background-attachment:fixed;
 } 
.container {
    margin-top: 5%;
    padding: 2rem;
    border: 1px solid #1400eee4;
    border-radius: 24px;
    padding: 24px;
    background-color: white;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}
.container h1 {
    margin-left: 70%;
    color:#1400eee4;
}
.container p{
    margin-left: 60%;
    color: #1400eee4;
    
}

 
  
  .dd{
    background-image: url('./assets/imgee/logo.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    padding-right: 1500px;
    
  }
.navbar .dd .h5{
  padding-left: 100px;
  
  
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.home .container .h3{
  text-align: center;
  color:#1400eee4 ;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.home .container .h6{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.server-section-cards-containar{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
#icon{width: 44%;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    position: relative;
    border: 3px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #1400eee4;
    text-align: center;
}
#icons{
  width: 200px;
    height: 200px;
    background-image: url("./assets/imgee/server.png");
    background-repeat: no-repeat;
    margin-bottom: 15px;
  background-size: cover;
}

#islam{
  width: 44%;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    position: relative;
    border: 3px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #1400eee4;
    text-align: center;

}
#islam2{
  width: 200px;
    height: 200px;
    background-image: url("./assets/imgee/serverr.png");
    background-repeat: no-repeat;
    margin-bottom: 15px;
  background-size: cover;
}
#task{
  width: 44%;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    position: relative;
    border: 3px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid  #1400eee4;
    text-align: center;

}
#task2{
  width: 200px;
    height: 200px;
    background-image: url("./assets/imgee/connect.png");
    background-repeat: no-repeat;
    margin-bottom: 15px;
  background-size: cover;
}
#t{
 text-decoration: solid;
 text-align: center;
}